#equation, .solve {
  text-align: center;
}

#equation {
  position: absolute;
  bottom: 85%;
  width: 100%;
  font-size: 300%;
}

.solution-steps {
  position: absolute;
  top: 100%;
  width: 480px;
  margin-left: 50%;
  margin-right: auto;
  transform: translateX(-50%);
  font-size: 150%;
}

.solution-steps.show {
  top: 20%;
  animation-name: show;
  animation-duration: 1s;
}

.solution + .solution {
  margin-left: 2em;
}

.solve {
  position: absolute;
  display: block;
  width: 4em;
  height: 4em;
  bottom: -2em;
  left: 50%;
  transform: translate(-50%);
  font-size: 200%;
  line-height: 3em;
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 6em;
}

@keyframes show {
  from {
    top: 100%;
  }

  to {
    top: 20%;
  }
}
